/* font of website*/

@font-face {
    font-family: 'Figtree';
    src: url('./font/300/Figtree-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./font/400/Figtree-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./font/700/Figtree-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* general style of html, body, header, main and footer*/
* {
    margin: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    background-color: rgba(6, 23, 30, 1);
    font-family: 'Figtree', sans-serif;
    height: 100%;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    height: 80px;
    padding: 24px 80px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    padding: 24px 80px;
}

main {
    flex-grow: 1;
}

/* style of classes which are included only in header*/

.header_maxWidth {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header_logo {
    width: 200px;
}

/* style of classes which are included only in footer*/

.footer_maxWidth {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.footer_brd_radius {
    border-top-left-radius: 50% 25%;
    border-top-right-radius: 50% 25%;
}

.footer_heigth {
    height: 120px;
}

.footer_logo {
    width: 200px;
}

/* style of classes which are included only in main*/

.headline_one {
    font-size: 56px;
    margin-bottom: 24px;
}

.fotogram_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 80px;
}

.gallery_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.padding_gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    gap: 8px;
}

.center_gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.img_size {
    border: 2px solid rgba(18, 70, 88, 1);
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.img_button {
    background-color: rgba(6, 23, 30, 1);
    border: none;
    cursor: pointer;
    padding: 0;
}

.img_size:hover {
    border: 2px solid rgba(107, 193, 225, 1);
}

/* style of classes which are included only in <dialog> */

.dialog_img_titel_content {
    border-radius: 40px;
    border: 0px;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%) translateX(100px);
    transition: all 125ms ease-in;
}

.dialog_img_titel_content.dialog_opend {
    transform: translate(-50%, -50%) translateX(0);
    transition: all 125ms ease-in;
}

.dialog_img_titel_content::backdrop {
    background-color: rgba(9, 33, 42, 1);
    opacity: 0;
    transition: all 125ms ease-in;
}

.dialog_img_titel_content.dialog_opend::backdrop {
    opacity: 0.5;
}

.dialog_img_titel_content.dialog_closed {
    transform: translate(-50%, -50%) translateX(100px);
    transition: all 125ms ease-in;
}

.dialog_img_titel_content.dialog_closed::backdrop {
    opacity: 0;
}

.headline_two {
    color: white;
    font-size: 24px;
}

.dialog_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
}

.close_button_dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    background-color: rgba(6, 23, 30, 1);
    cursor: pointer;
    border: 0px;
    border-radius: 100%;
    width: 48px;
    padding: 10px;
}

.close_button_dialog:hover {
    background-color: rgba(18, 70, 88, 1);
}

.close_button_dialog:active {
    background-color: rgba(13, 50, 64, 1)
}

.img_section {
    background-color: rgba(9, 33, 42, 1);
    padding: 32px 80px;
}

.dialog_img {
    width: 560px;
    height: 360px;
}

.dialog_footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}

.button_next_img {
    background-color: rgba(253, 91, 79, 0.1);
    border: 0px;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
    width: 48px;
}

.button_next_img:hover {
    background-color: rgba(253, 91, 79, 0.3);
}

.button_mirror {
    transform: scaleX(-1);
}

.img_description {
    font-size: 16px;
    color: white;
}

/* responsive style with media query*/

/* */

@media(min-width: 831px) and (max-width: 1200px) {
    .fotogram_content {
        padding: 56px 80px;
    }

    .gallery_content {
        flex-direction: row;
        align-items: start;
    }

    .display_none {
        display: block;
    }

    .display_none_respo {
        display: none;
    }

    .padding_gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center_gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media(min-width: 320px) and (max-width: 830px) {

    main.no_scroll {
        overflow: hidden;
    }

    header {
        justify-content: center;
        height: 72px;
        padding: 16px 16px;
    }

    .header_maxWidth {
        justify-content: center;
    }

    .header_logo {
        width: 160px;
        height: 32px;
    }

    .fotogram_content {
        padding: 24px 16px;
    }

    .headline_one {
        font-size: 48px;
        text-align: center;
    }

    .gallery_content {
        flex-direction: row;
        align-items: start;
    }

    .img_size {
        height: 140px;
        width: 140px;
    }

    .display_none {
        display: block;
    }

    .display_none_respo {
        display: none;
    }

    .padding_gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center_gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding: 16px 16px;

    }

    .footer_logo {
        width: 160px;
    }

    .dialog_header {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: start;
    }

    .close_button_right {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .headline_two {
        font-size: 24px;
        width: 100%;
    }

    .img_section {
        display: flex;
        justify-content: center;
        padding: 32px 16px;
    }

    .dialog_img {
        width: 240px;
        height: 320px;
    }

    .dialog_footer_content {
        width: 200px;
    }
}