/* general style of html, header, body and footer*/
* {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    height: 120px;
    padding: 0 120px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    height: 120px;
    padding: 0 120px;
}

main {
    height: 100vh; /*height: 100vh has to delet if main tag includes content*/
    flex-grow: 1;
}


/* style of classes which are included in header*/

.header_maxWidth {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_logo {
    width: 200px;
}

/* style of classes which are included in footer*/

.footer_maxWidth {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 200px;
}