/* font of website*/

@font-face {
    font-family: 'Figtree';
    src: url('./font/300/Figtree-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./font/400/Figtree-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./font/700/Figtree-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* general style of html, body, header, main and footer*/
* {
    margin: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    font-family: 'Figtree', sans-serif;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    height: 120px;
    padding: 0 80px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    height: 120px;
    padding: 0 80px;
    border-top-left-radius: 50% 25%;
    border-top-right-radius: 50% 25%;
}

main {
    flex-grow: 1;
}

/* style of classes which are included only in header*/

.header_maxWidth {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_logo {
    width: 200px;
}

/* style of classes which are included only in footer*/

.footer_maxWidth {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 200px;
}

/* style of classes which are included only in main*/

.headlineOne {
    font-size: 56px;
}

.fotogram_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}