/* font of website*/

@font-face {
    font-family: 'Figtree';
    src: url('./font/300/Figtree-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./font/400/Figtree-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./font/700/Figtree-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* general style of html, body, header, main and footer*/
* {
    margin: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(6, 23, 30, 1);
    font-family: 'Figtree', sans-serif;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    height: 80px;
    padding: 0 80px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    height: 120px;
    padding: 0 80px;
}

main {
    flex-grow: 1;
}

/* style of classes which are included only in header*/

.header_maxWidth {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_logo {
    width: 200px;
}

/* style of classes which are included only in footer*/

.footer_maxWidth {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_brd_radius {
    border-top-left-radius: 50% 25%;
    border-top-right-radius: 50% 25%;
}

.footer_logo {
    width: 200px;
}

/* style of classes which are included only in main*/

.headline_one {
    font-size: 56px;
    margin-bottom: 24px;
}

.fotogram_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 80px;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding_gallery {
    margin-bottom: 24px;
}

.img_size {
    margin: 0 8px;
    width: 150px;
    height: 150px;
    border: 2px solid rgba(18, 70, 88, 1);
    border-radius: 16px;
}

.img_button {
    background-color: rgba(6, 23, 30, 1);
    padding: 0;
    border: none;
    cursor: pointer;
}

.img_size:hover {
    border: 2px solid rgba(107, 193, 225, 1);
}

/* style of classes which are included only in <dialog> */

#dialog_content {
    border-radius: 40px;
    padding: 0;
    border: 0px;
    top: 40px;
    left: 360px;
}

.dialog_img_titel_content {
    transform: translateX(50px);
    transition: all 750ms ease-in;
}

.dialog_img_titel_content.dialog_opend {
    transform: translateX(0px);
    transition: all 750ms ease-in;
}

.dialog_img_titel_content::backdrop {
    background-color: rgba(9, 33, 42, 1);
    opacity: 0;
    transition: all 750ms ease-in;
}

.dialog_img_titel_content.dialog_opend::backdrop {
    opacity: 0.5;
}

.dialog_img_titel_content.dialog_closed {
    transform: translateX(50px);
    transition: all 750ms ease-in;
}

.dialog_img_titel_content.dialog_closed::backdrop {
    opacity: 0;
}

.headline_two {
    color: white;
    font-size: 24px;
}

.dialog_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
}

.close_button_dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    background-color: rgba(6, 23, 30, 1);
    cursor: pointer;
    padding: 10px;
    border: 0px;
    border-radius: 100%;
    width: 48px;
}

.close_button_dialog:hover {
    background-color: rgba(18, 70, 88, 1);
}

.close_button_dialog:active {
    background-color: rgba(13, 50, 64, 1)
}

.img_section {
    padding: 32px 80px;
    background-color: rgba(9, 33, 42, 1);
}

.dialog_img {
    width: 560px;
    height: 360px;
}

.dialog_footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}

.button_next_img {
    background-color: rgba(253, 91, 79, 0.1);
    border: 0px;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
    width: 48px;
}

.button_next_img:hover {
    background-color: rgba(253, 91, 79, 0.3);
}

.button_mirror {
    transform: scaleX(-1);
}

#img_number {
    font-size: 16px;
    color: white;
}